

<div>
    <li>
      <img src="{{singleBeer.image_url}}" alt="{{singleBeer.name}}">
      <h2>{{singleBeer.name}}</h2>
      {{singleBeer.description}}
      <br>
      {{singleBeer.tagline}}
    </li>
    
    
    <h3>Food pairing</h3>
    
      {{#each singleBeer.food_pairing}} 
      <li>
      {{this}}
      </li>
      {{/each}} 

    <h3>Brewers Tips</h3>
    <p>{{singleBeer.brewers_tips}}</p>



  
</div>