<h1>{{name}}</h1>

<div>
    <li>
      <img src="{{singleBeer.image_url}}" alt="{{singleBeer.name}}">
      {{singleBeer.name}}
      {{singleBeer.description}}
      {{singleBeer.tagline}}
    </li>
    
    
    <h2>Food pairing</h2>
    
      {{#each singleBeer.food_pairing}} 
      <li>
      {{this}}
      </li>
      {{/each}} 

      <h2>Brewers Tips</h2>
      {{singleBeer.brewers_tips}}


{{>beerpartial}}
  
</div>